<H2>Chapter: AngularJS Introduction</H2>
<h4>AngularJS Extends HTML</h4>
<div>
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
</div>

<h4>AngularJS Directives</h4>
<div ng-init="firstName='John'">
    <p>The name is <span ng-bind="firstName"></span></p>
</div>

<div data-ng-init="firstName='John'">
    <p>html valid: <span ng-bind="firstName"></span></p>
</div>

<h4>AngularJS Expressions</h4>
<p> {{5+5}}</p>
<p>Name: <input type="text" ng-model="expressionName"></p>
<p>{{expressionName}}</p>

<h4>AngularJS Applications</h4>
<div>
    First Name: <input type="text" ng-model="firstNameApp"> <br>
    Last Name: <input type="text" ng-model="lastNameApp"> <br>
    FullName: {{firstNameApp + " " + lastNameApp}}
</div>


